<style>
    .thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}


.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}
</style>

<div>
    <div layout="row" layout-align="start start">
            <md-button class="md-raised md-primary" aria-label="Custom Icon Button"  ngf-select="uploadFiles($files, $invalidFiles, direccion, dirimg)" multiple
                    accept="image/*" ngf-max-height="100000" ngf-max-size="5MB">
                <md-icon  md-svg-icon="directives/uploader/img/icon/ic_file_upload_black_24px.svg"></md-icon>
                UPLOAD {{titulo}}
            </md-button>
    </div>
    
</div>    
  <div ng-show='foto'>
      <div>
          Se carg&oacute; en esta direcci&oacute;n: {{foto}}
      </div> 
      <div ng-repeat="f in files" style="font:smaller">
        
          <md-progress-linear ng-show="f.progress >= 0" md-mode="determinate" value="{{f.progress}}"></md-progress-linear>
      
       <span ng-bind="f.progress + '%'"></span>
      </div>
      <div ng-repeat="f in errFiles" style="font:smaller">{{f.$error}} {{f.$errorParam}}</div> 
    
  {{errorMsg}}
  </div>
  <img ng-src="{{idArt}}{{foto}}" style="width: 200px; height: auto;" />
  <br/>
  <md-button ng-show='foto' class="md-raised md-primary" ng-click="guardar();">GUARDAR!</md-button> 

