<header></header>

<md-content  layout-padding>
    <md-subheader class="md-primary"> FOTOS CAROUSEL </md-subheader>
        <fieldset style="border: dotted gray 3px;">
            <img ng-src="{{ctrl.noticias[0].img}}" alt="{{ctrl.noticias[0].titulo}}" title="{{ctrl.noticias[0].titulo}}" style="width: 100px; height: auto;"/>
            <legend style="text-align:center;">SUBIR FOTO</legend>
                <div>
                    <p>FOTO PRINCIPAL: 694px de ancho x 320 de alto</p>
                    <h4 style="color:red"></h4>
                        <upload-icon dirimg="../img/home/articulos/{{ctrl.idArt}}/carousel/" titulo="FOTO" direccion="../../../../img/home/articulos/{{ctrl.idArt}}/carousel/"></upload-icon>
                </div>
        </fieldset>
        <fieldset style="border: dotted gray 3px;">
            <legend style="text-align:center;">TODAS LAS FOTOS</legend>
            <div ng-init="ctrl.showDirectoryCarousel();" layout="row" layout-align="start start" layout-xs="column">
                <div ng-repeat="f in ctrl.fotosDirectorio track by $index" layout="column">
                    <img ng-src="../img/home/carousel/{{f.img}}" style="width: 200px; height: auto;" />
                    <br/>
                    <!--<span>LINK: img/home/articulos/{{ctrl.idArt}}/carousel/{{f.img}}</span>-->
                    
                    <md-button class="md-raised md-warn" ng-click="ctrl.deleteFoto('../../../../img/home/carousel/'+f.img)">BORRAR</md-button> 
                </div>
            </div>
        </fieldset>
            <div layout="row" layout-align="center center">
                <md-button class="md-raised md-primary" ng-click="ctrl.EditarCaousel({'fotos':ctrl.fotosDirectorio},ctrl.idArt,2)">PUBLICAR TODAS</md-button>
            </div>
        
 </md-content>    