<header></header>
<md-content  layout-padding ng-init="ctrl.traerSelf()">
    <md-subheader class="md-primary"> SELF MAKE UP </md-subheader>
    <form novalidate class="simple-form" ng-submit="ctrl.Edit({'texto':ctrl.self[0].texto,'mostrar':ctrl.self[0].mostrar},'self',ctrl.self[0].id)">
        <md-input-container class="md-block">Para dejar de mostrar poner: no</label>
            <input ng-model="ctrl.self[0].mostrar" type="text" maxlength="500">
        </md-input-container>
        <!--<text-angular ng-model="ctrl.blog[0].texto"></text-angular>-->
        <md-input-container class="md-block">
            <label>Texto</label>
            <textarea ng-model="ctrl.self[0].texto" md-maxlength="3000" rows="5" md-select-on-focus></textarea>
          </md-input-container>
        <div layout="row" layout-align="end center">   
            <md-button type="submit" class="md-raised md-primary">EDITAR</md-button>
        </div>
    </form>
</md-content>    