<md-toolbar class="md-theme-indigo md-hue-2" md-scroll-shrink ng-if="true">
    <div class="md-toolbar-tools">
        <h1 flex md-truncate>GALERIA</h1>
        <md-button class="md-icon-button" aria-label="Favorite" ng-click="ctrl.logOut();">
            <md-icon md-svg-icon="img/icon/input-24px.svg" class="favorite-icon"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content  layout-padding>
    <md-subheader class="md-primary"> FOTOS </md-subheader>
        <fieldset style="border: dotted gray 3px;">
            <img ng-src="{{ctrl.noticias[0].img}}"  style="width: 100px; height: auto;"/>
            <legend style="text-align:center;">SUBIR FOTO</legend>
                <div>
                    <p>FOTO PRINCIPAL: 600x600 </p>
                    <h4 style="color:red"></h4>
                        <upload-icon dirimg="../img/home/bio/" titulo="FOTO" direccion="../../../../img/home/bio/" cliqueando="img" db="bio"></upload-icon>
                </div>
        </fieldset>
        <fieldset style="border: dotted gray 3px;">
            <legend style="text-align:center;">MODIFICAR EL ROL DE UNA FOTO</legend>
            <div ng-init="ctrl.showDirectoryNew('../../../../img/home/bio/');" layout="row" layout-align="start start" layout-xs="column">
                <div ng-repeat="f in ctrl.fotosDirectorio track by $index" layout="column">
                    <img ng-src="../img/home/bio/{{f.img}}" style="width: 200px; height: auto;" />
                    <br/>
                    <span>LINK: img/home/bio/{{f.img}}</span>
                    <md-button class="md-raised md-primary" ng-click="ctrl.EditLink({'img':'img/home/bio/'+f.img},'bio',ctrl.idArt,2)">ELEGIR</md-button>
                    <md-button class="md-raised md-warn" ng-click="ctrl.deleteFoto('../../../../img/home/bio/+f.img)">BORRAR</md-button> 
                </div>
            </div>
        </fieldset>
 </md-content>    