
<header></header>
<md-content layout="column" layout-padding ng-init="ctrl.traerSelf();">
    <section>
            <md-tabs md-dynamic-height md-border-bottom >
                <md-tab label="SELF MAKE UP">
                    <md-subheader class="md-primary"> CANTIDAD: {{ ctrl.selfL }} </md-subheader>
                    <md-list flex>    
                        <md-list-item class="md-3-line" ng-repeat="datos in ctrl.self track by $index">
                            <img ng-src="../{{datos.img}}" class="" alt="" style="width: 100px; height: auto; padding:8px;"/>
                                <div class="md-list-item-text" layout="column">
                                    <p style="width:200px; overflow: hidden;">{{datos.mostrar}}</p>
                                </div>
                                <md-button class="md-icon-button" ng-href="#!/panel/self/fotos/id/{{datos.id}}" aria-label="foto">
                                    <md-tooltip md-direction="top">Cambiar Foto</md-tooltip>
                                    <md-icon md-svg-icon="img/icon/add_photo_alternate-black-24dp.svg"></md-icon>
                                </md-button>
                                <md-button class="md-icon-button" ng-href="#!/panel/self/editar/id/{{datos.id}}" aria-label="edit">
                                    <md-tooltip md-direction="top">Editar Self Make Up</md-tooltip>
                                    <md-icon md-svg-icon="img/icon/ic_edit_black_24px.svg"></md-icon>
                                </md-button>
                        <md-divider></md-divider>  
                        </md-list-item>
                    </md-list>
                </md-tab>
            </md-tabs>  
        
        
      
     </section>  
  </md-content>

