
<header></header>
<md-content layout="column" layout-padding ng-init="ctrl.traerProtagonistas('no');">
    <section>
            <md-tabs md-dynamic-height md-border-bottom >
                <md-tab label="Protagonistas">
                    <md-subheader class="md-primary"> CANTIDAD: {{ ctrl.protagonistasL }} </md-subheader>
                    <md-list flex>    
                        <md-list-item class="md-3-line" ng-repeat="datos in ctrl.protagonistas track by $index">
                            <img ng-src="../{{datos.img}}" class="" alt="{{datos.titulo}}" style="width: 100px; height: auto; padding:8px;"/>
                                <div class="md-list-item-text" layout="column">
                                    <p> {{datos.titulo}}</p>
                                    
                                </div>
                                <md-button class="md-icon-button" ng-href="#!/panel/protagonistas/fotos/id/{{datos.id}}" aria-label="foto">
                                    <md-tooltip md-direction="top">Cambiar Foto</md-tooltip>
                                    <md-icon md-svg-icon="img/icon/add_photo_alternate-black-24dp.svg"></md-icon>
                                </md-button>
                                <md-button class="md-icon-button" ng-href="#!/panel/protagonistas/editar/id/{{datos.id}}" aria-label="edit">
                                    <md-tooltip md-direction="top">Editar Artículo</md-tooltip>
                                    <md-icon md-svg-icon="img/icon/ic_edit_black_24px.svg"></md-icon>
                                </md-button>
                                <md-button class="md-icon-button" ng-click="ctrl.Delete(datos.id,'protagonistas');" aria-label="delete" style="background-color:red">
                                    <md-tooltip md-direction="top">Borrar Artículo</md-tooltip>
                                    <md-icon md-svg-icon="img/icon/ic_delete_white_24px.svg"></md-icon>
                                </md-button>
                          <md-divider></md-divider>  
                          </md-list-item>
                    </md-list>
                </md-tab>
                <md-tab label="NUEVO PROTAGONISTA">
                    <md-subheader class="md-primary"> ESCRIBA UN NOMBRE </md-subheader>
                    <form novalidate class="simple-form" ng-submit="ctrl.insert({'titulo':ctrl.item.titulo,'mostrar':'si'},'protagonistas')">
                        <md-input-container class="md-block">
                            <label>Nombre</label>
                            <input required name="categoria" ng-model="ctrl.item.titulo" type='text'>
                            <div ng-messages="projectForm.titulo.$error">
                              <div ng-message="required">Le solicito por favor un título</div>
                            </div>
                        </md-input-container>
                        <!--<md-input-container>
                            <label>fecha</label>
                            <md-datepicker ng-model="ctrl.item.date" aria-label="Enter date"></md-datepicker>
                        </md-input-container>-->
                        <div layout="row" layout-align="end center">   
                            <md-button type="submit" class="md-raised md-primary">INGRESAR</md-button>
                        </div>
                    </form>
             </md-tab>
         </md-tabs>  
        
        
      
     </section>  
  </md-content>

