
<header></header>
<md-content layout="column" layout-padding ng-init="ctrl.traerEnvios('no');">
    <section>
        
            <md-tabs md-dynamic-height md-border-bottom >
                <md-tab label="LOCALIDADES" >
                    <md-subheader class="md-primary"> CANTIDAD: {{ ctrl.enviosL }} </md-subheader>
                    <md-list flex>    
                        <md-list-item class="md-2-line" ng-repeat="datos in ctrl.envios track by $index">
                                <div class="md-list-item-text" layout="column">
                                    <p> {{datos.barrio}}</p>
                                    <p> ${{datos.precio}}</p>
                                </div>
                                
                                <md-button class="md-icon-button" ng-click="ctrl.Delete(datos.id,'envios');" aria-label="delete" style="background-color:red">
                                    <md-tooltip md-direction="top">Borrar Artículo</md-tooltip>
                                    <md-icon md-svg-icon="img/icon/ic_delete_white_24px.svg"></md-icon>
                                </md-button>
                          <md-divider></md-divider>  
                          </md-list-item>
                        
                    </md-list>
                </md-tab>
                <md-tab label="EDITAR PRECIOS">
                    <form novalidate class="simple-form">
                        <md-input-container class="md-block" ng-repeat="datos in ctrl.envios track by $index">
                            <label>{{datos.barrio}}</label>
                            <input required name="precio" ng-value='datos.precio' ng-model="datos.precio" type='text' ng-change="ctrl.EditSinVolver({'precio':datos.precio},'envios',datos.id);">
                        </md-input-container>
                    </form>
                </md-tab>
                
                <md-tab label="EDITAR NOMBRE">
                    <form novalidate class="simple-form">
                        <md-input-container class="md-block" ng-repeat="datos in ctrl.envios track by $index">
                            <label>{{datos.barrio}}</label>
                            <input required name="barrio" ng-value='datos.barrio' ng-model="datos.barrio" type='text' ng-change="ctrl.EditSinVolver({'barrio':datos.barrio},'envios',datos.id);">
                        </md-input-container>
                        
                    </form>
                </md-tab>
                <md-tab label="NUEVO">
                    <form novalidate class="simple-form" ng-submit="ctrl.insert({'barrio':ctrl.item.barrio,'precio':ctrl.item.precio},'envios')">
                        
                        <md-input-container class="md-block">
                            <label>Barrio</label>
                            <input required name="barrio" ng-model="ctrl.item.barrio" type='text'>
                            <div ng-messages="projectForm.barrio.$error">
                              <div ng-message="required">Le solicito por favor el barrio</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Precio</label>
                            <input required name="precio" ng-model="ctrl.item.precio" type='text'>
                            <div ng-messages="projectForm.precio.$error">
                              <div ng-message="required">Le solicito por favor la tarifa</div>
                            </div>
                        </md-input-container>
                                                
                        <div layout="row" layout-align="end center">   
                            <md-button type="submit" class="md-raised md-primary">INGRESAR</md-button>
                        </div>    
                    </form>
                </md-tab>
         </md-tabs>  
        
        
      
     </section>  
  </md-content>

